/* @import url(./font/); */

@font-face {
  font-family: Designosaur;
  src: url(./font/Designosaur-Regular.ttf);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 0.75rem;
  color: #777777;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  opacity: 0.85;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 960px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .col {
    flex: none;
  }
  .layer12 {
    max-width: 100% !important;
  }
  .shape24 {
    width: 100% !important;
  }
  .quote {
    display: none;
  }
}

.heading {
  font-family: Designosaur;
}

.text_primary {
  color: #cd2027 !important;
  font-size: 1.5rem;
}

.text_secondary {
  color: #cd2027;
  font-size: 1rem;
}

.text_gray {
  color: rgba(0, 0, 0, 0.25);
}

.text_gray0 {
  color: #cecece;
}

.main-content {
  background: #fcfcfc;
  padding: 2px 40px 50px;
  margin: 0px -12px;
}

#logo {
  color: #ff0000;
  font-size: 24px;
}

.btn {
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  min-width: 125px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.circle-btn {
  border-radius: 100px !important;
  padding: 4px 10px !important;
  min-width: 0 !important;
}

.btn:hover {
  opacity: 0.85;
}

.orange-btn {
  color: #ca4500 !important;
  background-image: linear-gradient(#ffa622, #ff5400);
}

.gray-btn {
  color: #838383 !important;
  background-image: linear-gradient(#f2f2f2, #dcdcdc);
}

.center {
  top: 50%;
  transform: translateY(-100%);
}

.footer {
  background-color: #222222;
  padding: 10px 10px 5px 10px;
  align-items: center;
}
